/* Add this CSS to ensure horizontal layout */
.horizontal-container {
    display: flex;
    flex-direction: row; /* Ensures a horizontal layout */
    justify-content: space-between; 
  }
  
  .dropdown-container {
    margin-right: 10px; /* Adjust margin as needed */
  }
  

  .exchange-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }